.container{
    display: flex; 
    flex-direction: column;
    
    
    background-image: url('../../img/black\ background.jpg');
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    }
    .cardcontainer{
        width: 50vw;
        background-image: url('../../img/black\ background.jpg');
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 90vh;
        flex-wrap: wrap;

    }
    .card:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 153, 255, 0.3);
        transition: 0.3s;
       }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26vw;
        background-color: #1a1a1a;
        border-radius: 15px;
        
        box-shadow:
      5px 5px 11px rgba(0, 0, 0, 0.30); 
    }
    .flag{
        margin:  5px;
        padding: 5px;
        width: 24vw;
        height: 15vw;
        box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.30); 
        border-radius: 10px;
    }
    .info{
        color: #F5F2E7;
        margin: 5px;
        margin-bottom: 10px;
      
    }
    .countrycontainer{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    .actcard{
        margin-top: 2vh;
        background-color: #1a1a1a;
        box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.30); 
        border-radius: 10px;
        height: 9vw;
        width: 18vw;
    }
    .actcard:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 153, 255, 0.3);
        transition: 0.3s;
       }
    .name{
        font-size: 22px;
        margin-bottom: 5px;
        color: #F5F2E7;
       
           }
    .button {
    width: 14vw;
    margin-top: 25px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 9px;
    background: #2666CF;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    color: #F5F2E7;
    margin-bottom: 20px;

   }
   
  .button:hover {
    box-shadow: 0px 0px 15px #2666CF;
   }
   
   .button:active {
    transform: scale(0.97);
    box-shadow: 0px 0px 30px  #2666CF;
   }