.container{
    display: flex; 
    flex-direction: column;
    
    
    background-image: url('../../img/black\ background.jpg');
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    }
    .cardcontainer{
        width: 60vw;
        background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70vh;

    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40vw;
        background-color: #960000;
        
        box-shadow:
      5px 5px 11px rgba(0, 0, 0, 0.30); 
    }
    .flag{
        margin:  5px;
        padding: 5px;
        width: 15vw;
        height: 10vw;
        box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.30); 
        border-radius: 10px;
    }
    .info{
        color: #F5F2E7;
      
    }
    .countrycontainer{
        display: flex;
        justify-content: space-evenly;
    }
    .actcard{
        margin-top: 2vh;
        background-color: aqua;
        box-shadow:
      5px 5px 11px rgba(0, 0, 0, 0.30); 
    }
    .name{
        margin-bottom: 5px;
        color: #F5F2E7;
           }