.cardscontainer{
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
 background-color: #2C3333;
 height: 85vh;
    width: 80vw;
    margin-right: 2vw;
 
}
.container{
    display: flex;
    flex-direction: column;
    
    
}