.button{
    color: #F5F2E7;
    cursor: pointer;
    background-color: #1a1a1a;
    width: 35px;   
    border-radius: 25% 0% 25% 0%;
    border: none;
    height: 30px;
    
          
}

.button:focus{
    background-color: #2666CF;
    color: #F5F2E7;
    border-radius: 25% 0% 25% 0%;
    width: 45px;
    height: 30px;
}
