.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 14vw;
    height: 16vw;
    color: blue;
    background-image: linear-gradient(163deg, #fdfdfd 0%, #3700ff 100%);
    border-radius: 15px;
    transition: all .3s;
    box-shadow:
  10px 10px 11px rgba(0, 0, 0, 0.15);

    margin: 0.5vw;
}
.container2 {
  width: 14vw;
    height: 16vw;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all .2s;
 }
 .container2:hover {
  transform: scale(0.98);
  border-radius: 15px;
 }
 .container:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 153, 255, 0.3);
 }
.name {
    color: #F5F2E7;
    margin-bottom: 1vw;
    text-decoration: none;
    margin-top: 5px;
}
.flag{
    width: 9vw;
    height: 5vw;
    box-shadow:
  5px 5px 11px rgba(0, 0, 0, 0.25);

    margin-bottom: 1vw;
}